* {
    box-sizing: border-box;
}

body {
    background-color: silver;
}

#container {
    width: 800px;
    height: 250px;
    margin: 200px auto;

}

#container h1 {
    text-align: center;
    color: grey;
    padding: 15px;
}

#twocolumns {
    height: 200px;
    top: 50px;
    width: 100%;

}

#left {
    width: 50%;
    height: 200px;
    float: left;
}

#right {
    width: 50%;
    height: 200px;
    float: right;
}

input[type=submit] {
    width: 100%;
    background-color: #ff3f44;
    color: white;
    padding: 14px 20px;
    margin: 8px auto;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

input[type=text], input[type=email] {
    line-height: 25px;
    padding: 5px;
    border-radius: 8px;
    border: none;
    margin: 12px;
    width:100%;
}

textarea {
    padding: 5px;
    margin: 10px;
    border-radius: 8px;
    border: none;

}

input[type=submit]:hover {
    background-color: #c03435;
}